html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* This prevents scrolling */
}


canvas {
    width: 100%;
    height: 100%;
}
.Health {
    background-color: #E23E57;
    height: 55px;
    width: 100%;

}

.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondContainer {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.timer {
    background-color: #DBE2EF;
    width: 100px;
    height: 55px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #769FCD;
    font-family: 'Righteous', cursive;
}

.decrease1 {
    position: absolute;
    background: #3F72AF;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.decrease2 {
    position: absolute;
    background: #3F72AF;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.banner {
    position: absolute;
    color: #FFD460;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Righteous', cursive;
    font-size: 100px;
}

.audioButton {
    position: absolute;
    margin-left: 1025px;
    margin-top: 20px;
}


.title {
    position: fixed;
    margin-top: 10px;
    text-align: end;
}

.replayButton {
    position: absolute;
    margin-left: 1025px;
    margin-top: 80px;
}

.player1Controls {
    position: absolute;
    margin-left: 1020px;
    margin-top: 200px;
}

.Player2Controls{
    position: absolute;
    margin-left: 1030px;
    margin-top: 400px;
}

side-menu {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu .menu-content {
    padding: 8px;
    text-align: left;
}

.side-menu button {
    padding: 8px;
    text-align: center;
    display: block;
    transition: 0.3s;
}